{:rename-macros {}, :renames {}, :externs {document {getElementById {}}}, :use-macros {}, :excludes #{}, :name akiee-front.dom-helpers, :imports nil, :requires nil, :uses nil, :defs {get-element {:protocol-inline nil, :meta {:file "/home/macco/Listings/electron-akiee/akiee/src_front/akiee_front/dom_helpers.cljs", :line 8, :column 7, :end-line 8, :end-column 18, :arglists (quote ([i])), :doc "String -> DOMElement\n  Consumes a CSS indetifier i and returns a DOMElement"}, :name akiee-front.dom-helpers/get-element, :variadic false, :file "/home/macco/Listings/electron-akiee/akiee/src_front/akiee_front/dom_helpers.cljs", :end-column 18, :method-params ([i]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 8, :end-line 8, :max-fixed-arity 1, :fn-var true, :arglists (quote ([i])), :doc "String -> DOMElement\n  Consumes a CSS indetifier i and returns a DOMElement"}}, :require-macros nil, :doc nil}